body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

h2.h2-auth-text {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.rating-container {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  height: 350px; /* Высота таблицы */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding-left: 12px;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px 10px 0 0; /* Скругляем только верхние края таблицы */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Тень для заголовка */
}

.row {
  display: flex;
  align-items: center;
}

.row > div,
.row > input,
.row > select {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.row > div {
  background-color: #f9f9f9;
}

.row:nth-child(even) {
  background-color: rgba(0, 123, 255, 0.1); /* Цвет для четных строк */
}

.row:nth-child(odd) {
  background-color: #fff; /* Цвет для нечетных строк */
}

.table-body > .row > div {
  border-bottom: none; /* Убираем нижнюю границу для последней строки тела таблицы */
}

button {
  padding: 8px 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.butDiv {
  margin-bottom: 5px;
}

button:hover {
  background-color: #0056b3;
}

.add-personal {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-personal h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.add-personal input {
  width: calc(50% - 10px);
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-personal select {
  width: calc(50% - 10px);
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-personal button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-personal button:hover {
  background-color: #0056b3;
}

.error {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
}

.inStyle {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}
