/* InfoTable.css */

.info-table {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .info-table h1 {
    color: #333;
    text-align: center;
  }
  
  .info-table .btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #007BFF;
    color: white;
  }
  
  .info-table .btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .info-table .btn:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .info-table .form-group {
    margin-bottom: 20px;
  }
  
  .info-table label {
    display: block;
    margin: 20px 0 10px;
    font-size: 18px;
    color: #555;
  }
  
  .info-table .select,
  .info-table .input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .info-table .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .info-table th,
  .info-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .info-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .info-table td {
    background-color: #fff;
  }
  
  .info-table .error {
    color: red;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }
  .text{
    color: black;
  }
  
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  } */
  
  h2.h2-auth-text {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }

  h1.h2-auth-text {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .rating-container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .table-wrapper {
    height: 350px; /* Высота таблицы */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding-left: 12px;
  }
  
  .table-header {
    position: sticky;
    top: 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0; /* Скругляем только верхние края таблицы */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Тень для заголовка */
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .row > div, .row > input {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .row > div {
    background-color: #f9f9f9;
  }
  
  .row:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.1); /* Цвет для четных строк */
  }
  
  .row:nth-child(odd) {
    background-color: #fff; /* Цвет для нечетных строк */
  }
  
  .table-body > .row:last-child > div {
    border-bottom: none; /* Убираем нижнюю границу для последней строки тела таблицы */
  }
  .inStyle{
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
  }